$yesColor: #1B51B5;
$noColor: #E82C0C;
$bodyColor: #324D5C;
@font-face {font-family: "Hiragino Sans GB";
    src: url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.eot");
    src: url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.svg#Hiragino Sans GB") format("svg");
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: "Hiragino Sans GB";
}
#tooltip {
  position: absolute;
  padding: 5px;				
  font-size: 14px;		
  background: lighten($bodyColor, 54%);	
  border: 0px;		
  border-radius: 5px;			
  pointer-events: none;
}
.yes, .no {
  stroke: #000;
  opacity: 0.8
}
.yes {
  fill: $yesColor;
}
.no {
  fill: $noColor;
}
.info {
  font-size: 0.7em;
}
